@charset "utf-8";
/*
Alpha Server

Author: Cody Fawcett
Date: Nov 4, 2016
*/

/* logo */
	.fit {
		max-width: 100%;
		max-height: 100%;
	}
	
	.center {
		display: block;
		margin: auto;	
	}


body * {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, sans-serif;
	
}
nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;	
}


/* Footer Style */

  footer {
   color: white;
   text-align: center;
   line-height: 2.0em;
   }
   
	/* footer */
#social_media {
	float: right;
	margin: 0% 2%;
}