@charset "utf-8";
/*
Alpha Server

Author: Cody Fawcett
Date: Nov 4, 2016
*/

/* page resizing */
html, body, {
	position:absolute;
   	top:0;
	left:0;
	right:0;
	right:0;
	bottom:0;	
}

body {
	background-color: grey;	
}

/* logo */
	.fit {
		max-width: 100%;
		max-height: 100%;
	}
	
	.center {
		display: block;
		margin: auto;	
	}
	
/* footer */
#social_media {
	float: right;
	margin: 0% 2%;
}

/* columm styles */
	.wrapper {
		width: 90%;
		margin: 5% auto;
	}
	
	.row {
		clear: both;		
	}
	
	.column {
		float: left;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	
	.half {
		width: calc((60% - 2% * 12) /12);
		padding-top: 0.5px;
	}
	
	.one {
		width: calc((100% - 2% * 12) /12);
		background-color: silver;
	}
	
	.two {
		width: calc(2 *(100% - 2% * 12) / 12 + (2 - 1) * 2%);
		background-color: cyan;		
	}
	
	.three {
		width: calc(3 *(100% - 2% * 12) / 12 + (3 - 1) * 2%);
	}
	
	.four {
		width: calc(4 *(100% - 2% * 12) / 12 + (4 - 1) * 2%);
		background-color: green;
	}
	
	.five {
		width: calc(5 *(100% - 2% * 12) / 12 + (5 - 1) * 2%);
		background-color: green;
	}
	
	.six {
		width: calc(6 *(100% - 2% * 12) / 12 + (6 - 1) * 2%);
	}
	
	.seven {
		width: calc(7 *(100% - 2% * 12) / 12 + (7 - 1) * 2%);
		background-color: green;
	}
	
	.eight {
		width: calc(8 *(100% - 2% * 12) / 12 + (8 - 1) * 2%);
	}
	
	.nine {
		width: calc(9 *(100% - 2% * 12) / 12 + (9 - 1) * 2%);
		background-color: gray;
	}
	
	.ten {
		width: calc(10 *(100% - 2% * 12) / 12 + (10 - 1) * 2%);
		background-color: light-green;
	}
	
	.eleven {
		width: calc(11 *(100% - 2% * 12) / 12 + (11 - 1) * 2%);
		background-color: cyan;
	}
	
	.twelve {
		width: calc(12 *(100% - 2% * 12) / 12 + (12 - 1) * 2%);
	}
	


/*main content - sales*/
	#special_sales {
		float: center;
		text-align: center;
		margin: 0;
		float: left;
		
	}
	
	#hot_deals {
		margin: 2em 1.5em;
		float: center;
		text-align: center;
	}
	
	#monthly_sales {
		float: center;
		margin: 0;
		text-align: center;
		text-decoration: none;
	}
	
	#misc_info {
		float: right;
		margin: 0;
		text-align: center;
	}
	
	.sup {
		padding-top: 2em;	
	}
/* Nav styles */
	ul {
		list-stype-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		
	}
	
	li {
		float: left;		
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
/*change link color to black on hover */
	li a:hover:not(.active) {
		background-color: #111;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
