@charset "utf-8";
/*
Alpha Server

Author: Cody Fawcett
Date: Nov 4, 2016
*/
   
@media only screen and (max-width: 480px) {
   body {
        background-color: white;
		display: block;
		float: left;
    }
 }
 
 header {
	display: block;
 
 }
 
 
	
article {
	display: block;
	text-align: center;
}   

#img {
	display: none;
}

#social_media {
	display: none;
}

 #simple { 
	color: cyan;
	}
	

/* Nav styles */
	ul {
		list-stype-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		
	}
	
	li {
		float: left;		
	}
	
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
/*change link color to black on hover */
	li a:hover:not(.active) {
		background-color: #111;
	}
 /* Columns */
 
 
 .row {
	clear: both;
	padding-top: 1em;
	padding-bottom: 1em;
}

.column {
	float: left;
	margin-right: 2%;
	margin-bottom: 4%;
	width: 100%;
}